$color-background: hsl(0, 0%, 96%);

$color-primary: hsl(240, 6%, 20%);
$color-secondary: hsl(10, 97%, 59%);

$color-text:hsl(45, 67%, 1%);

$transition: all 0.2s ease;


@mixin for-desktop-small {
    @media (max-width:1280px) {
        @content;
    }
}

@mixin for-tablet-big {
    @media (max-width:1024px) {
        @content;
    }
}

@mixin for-tablet {
    @media (max-width:840px) {
        @content;
    }
}

@mixin for-phone {
    @media (max-width:640px) {
        @content;
    }
}